<h2>Add New Trip</h2>
<form method="post" enctype="application/x-www-form-urlencoded">
    <label for="place">Place</label>
    <input name="place" type="text" id="place" placeholder="name of place...">

    <label for="date">Date</label>
    <input name="date" type="date" id="date" placeholder="date of trip...">

    <button type="button">Submit</button>
</form>

<script>
    const form = document.getElementsByTagName('button')[0].onclick = () => {
        let request = new XMLHttpRequest()
        request.onreadystatechange = () => {
            if (request.readyState === 4) {
                console.log('somethings go right sometimes')
                document.location = "/trip"
            }
        }
        let reqBody = {
            "trip": {
                "place": document.getElementsByTagName('input')[0].value,
                "date": document.getElementsByTagName('input')[1].value
            }
        }
        console.log(JSON.stringify(reqBody))
        request.open('post', '/trip/add-new', true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send(JSON.stringify(reqBody))
    }
</script>