<div>
    <a href="/">Home</a>
    <a href="/member">Member Management</a>
    <h2>Trips</h2>
    <a href="/trip/add-new">Add New Trip</a>
    <% trips.map(trip => { %>
        <h5><%= trip.place %></h5>
        <h6><%= trip.time %></h6>
    <%})%>
</div>