<h2>Add New member</h2>
<form>
    <label for="name">Name</label><br>
    <input type="text" id="name">
    <br><br>

    <label for="department">Department</label><br>
    <input type="text" id="department">
    <br><br>

    <label for="batch">Batch</label><br>
    <input type="number" id="batch">
    <br><br>

    <label for="subdepartment">Subdepartment</label><br>
    <input type="text" id="subdepartment">
    <br><br>

    <label for="school-department">Schoold Department</label><br>
    <input type="text" id="school-department">
    <br><br>

    <label for="phone">Phone</label><br>
    <input type="text" id="phone">
    <br><br>

    <button type="button">Submit</button>
</form>

<script>
    const form = document.getElementsByTagName('button')[0].onclick = () => {
        let request = new XMLHttpRequest()
        request.onreadystatechange = () => {
            if (request.readyState === 4) {
                console.log('somethings go right sometimes')
                document.location = "/member"
            }
        }
        let reqBody = {
            "member": {
                "name": document.getElementsByTagName('input')[0].value,
                "department": document.getElementsByTagName('input')[1].value,
                "batch": document.getElementsByTagName('input')[2].value,
                "subdepartment": document.getElementsByTagName('input')[3].value,
                "school_department": document.getElementsByTagName('input')[4].value,
                "phone": document.getElementsByTagName('input')[5].value
            }
        }
        console.log(JSON.stringify(reqBody))
        request.open('post', '/member/add-new', true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send(JSON.stringify(reqBody))
    }
</script>

