<div>
    <h2>Members</h2>
    <a href="/member/add-new">Add New Member</a>
    <% members.map(member => { %>
        <h5>
            <%= member.name %>
        </h5>
        <h6>
            <%= member.department %>
        </h6>
        <%})%>
</div>